name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions: {}

jobs:
  build_site:
    runs-on: ubuntu-latest
    environment: github-pages
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install nix
        uses: cachix/install-nix-action@v31.9.1

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v7
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-

      - name: Build site
        run: nix build --print-build-logs

      - name: Make result mutable
        run: |
          mkdir gh-pages/
          cp -r result/** gh-pages/
          chmod -R u+w gh-pages/

      - name: Patch environment variables
        env:
          BASE_PATH: "/${{ github.event.repository.name }}"
          PUBLIC_SUPABASE_URL: ${{ vars.PUBLIC_SUPABASE_URL }}
          PUBLIC_SUPABASE_KEY: ${{ vars.PUBLIC_SUPABASE_KEY }}
        run: |
          ./scripts/patch_from_env.sh gh-pages/

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: "gh-pages/"

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
